@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.ViewDocuments
@{
    ViewData["Title"] = "Conclude Care";

    var status = "null";
    if (TempData["Status"] == null)
    {
        status = "null";
    }
    else
    {
        status = TempData["Status"].ToString();

    }
}
<div class="container">
    <div class="card bg-transparent border-0 " style="border-radius: 15px;">
        <div class="card-header d-flex justify-content-between  border-0  bg-transparent  mb-2">
            <div class="text-start">
                <h3 class="mt-2 fw-bolder"> Conclude Care</h3>
            </div>
            <div class="text-end">
                <a href="javascript:void(0)" onclick="goBack()" class="btn btn-outline-info btn-back text-end">
                    ❮ Back
                </a>
            </div>
        </div>
        <div class="card-body bg-white m-1 shadow" style="border-radius: 15px;">
            <div class="">Patient Name</div>
            <h3 class="doc-text-card text-info fw-bold">@Model.Firstanme  @Model.Lastanme <span class="text-dark" >   </span></h3>
           
            <div class="col-md-12 mt-2">


                <div class="card-header-2 mt-3 d-flex justify-content-between  border-0  bg-transparent ">
                    <div class="mt-1">
                        <h5> Enciunter Form</h5>
                    </div>
                    <form id="uploadForm" asp-action="UploadDocFromConculde" asp-controller="ViewAction" method="post" enctype="multipart/form-data">
                        <input type="hidden" value="@Model.RequestID" name="RequestID" />
                        <label for="fileInput" class="btn btn-outline-info">
                            <i class="bi bi-upload"></i>
                            Upload
                        </label>
                        <input type="file" name="file" id="fileInput" style="display: none;" onchange="submitForm()" />
                        <button type="submit" style="display: none;"></button>
                    </form>

                </div>
                <div class="table-responsive my-4 ">
                    <table class="table">
                        <thead class="border-1 border-light">
                            <tr class="table-secondary">
                               
                                <th scope="col" class="table-text-header px-3">Documents</th>

                                <th scope="col" class="table-text-header text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item2 in Model.documentslist)
                            {
                                <tr>
                                    <td class="table-text  px-3 flnamae"> <span> @item2.Filename.Substring(item2.Filename.LastIndexOf("/") + 1) </span></td>

                                    <td class="table-text text-center ">
                                        <a class="btn btn-sm  btn-outline-info document-button" download href="@item2.Filename.Replace("~","")">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                                 class="bi bi-arrow-down-circle mx-1" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                            @if (Model.documentslist.Count <= 0)
                            {
                                <tr>
                                    <td colspan="2" class="text-center" >
                                        No Documnet Found
                                    </td>
                                    </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <form asp-action="ChangeNotes" method="post" asp-controller="SubmitForm" class="row g-3 " >
                <h4 class=" my-2">Provider Notes</h4>
                <input value="@Model.RequestID" name="RequestID" type="hidden">

               
               
                <div class="col-md-12 form-floating ">
                     <textarea id="changenote"  class="form-control rounded "  name="physiciannotes" type="text" rows="4" cols="50" placeholder=Suchtext autocomplete=off></textarea>
                     <label id="notedata" for="Symptoms">  Provider Notes </label>
                     <span  class="text-danger"></span>
                </div>
                <div class=" col-md-12 text-end my-5">
                    
                    <input  type="submit" class="btn btn-info text-white p-2" value="Conclude Care">
                </div>



            </form>

        </div>

    </div>
</div>

<script>
    function submitForm() {
        // Get the form element
        var form = document.getElementById("uploadForm");

        // Submit the form
        form.submit();
    }
    window.onload = function (e) {
        console.log(5);

       

            if ("@status" != "null") {
                savealt("@status");
            }
       
    }

</script>