@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "../Shared/_Login_Layout";
    ViewData["Title"] = "Encounter PDF";

}

@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.ViewEncounter;
<style>
    * {
        font-family: 'Arial', sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .encounterFormDetails {
        margin: 20px;
        padding: 20px;
        max-width: 800px;
        margin: auto;
    }

    h1 {
        color: #60cef3;
        font-size: 30px;
        margin-bottom: 25px;
        font-family: poppins;
    }

    .Branding {
        color: #60cef3;
        font-size: 45px;
        margin-bottom: 25px;
        font-family: poppins;
    }

    .PatientDetails {
        padding: 15px;
        background-color: #fff;
        border: 2px solid;
        border-radius: 25px;
    }

    .PatientData {
        border: 2px solid;
        padding: 15px;
        border-radius: 8px;
        background-color: #f0f0f0;
        margin-bottom: 15px;
        border: 1px solid #c0c0c0;
    }

        .PatientData span {
            font-weight: bolder;
            color: black;
        }

    .followup {
        color: #60cef3;
    }
    body {
        height: 100vh !important;
    }

    .encounterForm {
        font-family: "poppins";
    }

        .encounterForm h2 {
            width: 100%;
            text-align: center;
        }

    .details {
        margin: auto;
        height: 100%;
        margin-top: 20px;
        display: grid;
    }

    .data-row {
        font-size: 25px;
    }

    h2 {
        text-decoration: underline;
        font-weight: bold;
        color: #01BCE9;
    }

    h5 {
        height: 50px;
    }
</style>
<div class="encounterFormDetails justify-content-center  gap-4">
    <div class="d-flex justify-content-center">
        <h1 class="Branding h1">Namste From HalloDoc</h1>
    </div>

    <h1>Personal Details</h1>
    <div class="PatientDetails">
        <div class="PatientData">
            <span>First Name: </span> @Model.FirstName
        </div>

        <div class="PatientData">
            <span>Last Name: </span> @Model.LastName
        </div>

        <div class="PatientData">
            <span>Location: </span> @Model.Location
        </div>

        <div class="PatientData">
            <span>Date of Birth: </span> @Model.DOB
        </div>

        @*     <div class="PatientData">
        <span>Date of Request: </span>
        </div> *@

        <div class="PatientData">
            <span>Email: </span> @Model.Email
        </div>


    </div>

    <h1 class="mt-3">Encounter Form Details</h1>
    <div class="PatientDetails mt-3">
        <div class="PatientData">
            <span>History of Present Illness or Injury: </span> @Model.HistoryOfP
        </div>

        <div class="PatientData">
            <span>Medical History: </span> @Model.HistoryOfMedical
        </div>

        <div class="PatientData">
            <span>Medications: </span> @Model.Medications
        </div>

        <div class="PatientData">
            <span>Allergies: </span> @Model.Allergies
        </div>

        <div class="PatientData">
            <span>Temp: </span> @Model.Temp
        </div>

        <div class="PatientData">
            <span>HR: </span> @Model.Hr
        </div>

        <div class="PatientData">
            <span>RR: </span> @Model.Rr
        </div>

        <div class="PatientData">
            <span>Blood Pressure (Diastolic): </span> @Model.BloodPressureD
        </div>

        <div class="PatientData">
            <span>Blood Pressure (Systolic): </span> @Model.BloodPressureS
        </div>

        <div class="PatientData">
            <span>O2: </span> @Model.O2
        </div>

        <div class="PatientData">
            <span>HEENT: </span> @Model.Heent
        </div>

        <div class="PatientData">
            <span>Pain: </span> @Model.Pain
        </div>

        <div class="PatientData">
            <span>CV: </span> @Model.CV
        </div>

        <div class="PatientData">
            <span>Chest: </span> @Model.Chest
        </div>

        <div class="PatientData">
            <span>Abdomen: </span> @Model.ABD
        </div>

        <div class="PatientData">
            <span>Extremities: </span> @Model.Extr
        </div>

        <div class="PatientData">
            <span>Skin: </span> @Model.Skin
        </div>

        <div class="PatientData">
            <span>Neuro: </span> @Model.Neuro
        </div>

        <div class="PatientData">
            <span>Other: </span> @Model.Other
        </div>

        <div class="PatientData">
            <span>Diagnosis: </span> @Model.Diagnosis
        </div>

        <div class="PatientData">
            <span>Treatment Plan: </span> @Model.Treatment
        </div>

        <div class="PatientData">
            <span>Medications Dispensed: </span> @Model.MedicationsDispensed
        </div>

        <div class="PatientData">
            <span>Procedures: </span> @Model.Procedures
        </div>

        <div class="PatientData followup">
            <span>Follow Up Frequency: </span> @Model.Followup
        </div>
    </div>
</div>