@using AdminHalloDoc.Entities.ViewModel;
@using AdminHalloDoc.Models.CV;
@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.Viewcase;
@{
    ViewData["Title"] = "View Case";
    var status = "null";
    if (TempData["Status"] == null)
    {
        status = "null";
    }
    else
    {
        status = TempData["Status"].ToString();

    }
}
<div class="container" >
    <div class="justify-content-between d-flex container-fluid my-5 position-relative ">
        <div class="">
            <h1>  View Patient request <span class="badge badge-success p-2">Success</span> </h1>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="goBack()" class="btn btn-outline-info"> ❮  Back </a>
        </div>
    </div>
    <div class="card border-0 shadow p-4 mb-5  rounded">
        <form asp-action="SaveViewcase" asp-controller="ViewAction" class="row g-3 needs-validation " enctype="multipart/form-data" novalidate>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h4 class=" my-4">Patient Information</h4>
            <input asp-for="RequesClientid" name="RequesClientid" type="hidden">

            <div class="col-md-12 form-floating  my-1">
                <textarea asp-for="Notes" disabled class="form-control rounded" name="Notes" type="text" rows="4" cols="50" placeholder=Suchtext autocomplete=off></textarea>
                <label asp-for="Notes" for="Symptoms"> Patient Notes </label>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <hr/>
            <div class="col-md-6 form-floating  ">
                <input asp-for="FirstName" class="form-control rounded vcs" required name="FirstName" type="text" placeholder="First Name" autocomplete=off>
                <label class="" for="floatingInput">First Name </label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="LastName" class="form-control rounded vcs" required name="LastName" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Last Name </label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating">
                <input asp-for="BirthDate" class="form-control rounded vcs" required name="BirthDate" type="date" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Birth Date </label>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating d-flex align-items-center">
                <input asp-for="PhoneNumber" id="phone" required type="tel" name="PhoneNumber" class="form-control rounded vcs" autocomplete=off>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <div >
                    <a class=" btn btn-outline-info text-center rounded fs-4 mx-2" href="tel:@Model.PhoneNumber"><i class="bi bi-telephone"></i></a>
                </div>
            </div>
            <div class="col-md-6 form-floating ">
                <input id="email" asp-for="Email" required class="form-control rounded vcs" name="Email" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Email </label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class=" col-md-6  my-4">
                <div id="editprofile" onclick="toggleFormElements('false')" class="btn btn-outline-info  "> Edit </div>
                <input id="submit" type="submit" class="btn btn-info text-white p-2" value="save">
            </div>

            <h4 class=" my-4">Patient Contact Information</h4>
            <div class="col-md-6 form-floating ">
                <input disabled asp-for="Address" class="form-control rounded" id="Address" name="Address" type="text" placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Street </label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-floating d-flex align-items-center ">
                <input disabled asp-for="RoomSite" class="form-control rounded" name="RoomSite" type="text"  placeholder=Suchtext autocomplete=off>
                <label for="floatingInput">Room / site ( Optional )</label>
                <span asp-validation-for="RoomSite" class="text-danger"></span>
                <div>
                    <div id="map" class=" btn btn-outline-info text-center rounded fs-4 mx-2" href="tel:"><i class="bi bi-geo-alt"></i></div>
                </div>
            </div>

           

        </form>
        <div class="text-end my-4">
            @if (Model.Status == 1 && CV.role() == "Admin")
            {
                <a data-bs-toggle="modal" data-bs-target="#Assigncase" data-bs-requestid="@Model.Requestid" data-bs-patientname="@Model.FirstName" class="btn btn-outline-info"> Assign </a>
            }
            <a asp-action="ViewNotes" asp-controller="AdminDashboard" asp-route-id="@Model.Requestid.Encode()" class="btn btn-info text-white"> View Notes </a>
            @if (CV.role() == "Admin")
            {
                <a class=" btn btn-danger  js-stkModal-btn"
                   data-form-id="formEdit_UMS"
                   data-url='@Url.Action("_Cancelcase", "ViewAction", new {requestid = Model.Requestid})'
                   data-modal-size="lg">Cancel  </a>

            }
           
        </div>
    </div>
</div>
<partial name="_models/_assigncase.cshtml" />
<script>
    document.getElementById("map").addEventListener("click", function (e) {
        var street = document.getElementById("Address").value;
   

   var mapurl =  "https://www.google.com/maps/search/?api=1&query=";

      if (street != null) {
          mapurl = mapurl + street.replace(" ", "") + "," + "+";
      }
    
    
      window.open(mapurl,'_blank');

    e.preventDefault();            
})

    const Assigncase = document.getElementById('Assigncase')
    if (Assigncase) {
        Assigncase.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const patientname = button.getAttribute('data-bs-patientname')
            const requestid = button.getAttribute('data-bs-requestid')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = Assigncase.querySelector('#patientname')
            const modalBodyInput = Assigncase.querySelector('#requestid')

            modalTitle.textContent = patientname
            modalBodyInput.value = requestid
        })
    }

    function toggleFormElements(bDisabled) {
        var inputs = document.getElementsByClassName("vcs");
        var submit = document.getElementById("submit");
        var editprofile = document.getElementById("editprofile");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = !inputs[i].disabled;
        }
        if (inputs[0].disabled) {
            submit.style.display = "none";
            editprofile.style.display = "inline-block";
        } else {
            submit.style.display = "inline-block";
            editprofile.style.display = "none";
        }
    }
    window.onload = function (e) {
        console.log(5);
        toggleFormElements('true');

        if ("@status" != "null") {
            savealt("@status")
        }
    }
    
    </script>
@section Scripts
    {
<script>
     





    $(function () {
            $("form").submit(function () {
                var full_number = phoneInput.getNumber(intlTelInputUtils.numberFormat.E164);
                $("input[name='PhoneNumber']").val(full_number);

            });
        });

    </script>
}
