@using System.Globalization;
@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.RecordsModel
@using static AdminHalloDoc.Entities.ViewModel.Constant;
@{
    var enumData = from RequestType e in Enum.GetValues(typeof(RequestType))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
    var i1 = Model.SortedColumn;
    var J1 = Model.IsAscending;
}

<div class="table-responsive">
    <table class="table table-responsive mt-3 p-3 dataTable" id="table">

        <thead class=" text-start tablehead">
            <tr>
                <th scope="col">Patient name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Created Date</th>
                <th scope="col">Notes</th>
                <th scope="col">Is Active</th>
                <th scope="col">Action </th>

            </tr>
        </thead>
        <tbody class="table-group-divider mx-5">
            @foreach (var item in Model.BlockRequestList)
            {
                <tr>
                    <td scope="col" class="table-text">@item.PatientName</td>

                    <td scope="col" class="table-text">@item.Phonenumber</td>
                    <td scope="col" class="table-text">@item.Email</td>
                    <td scope="col" class="table-text">@item.Createddate</td>
                    <td scope="col" class="table-text">@item.Reason</td>
                    <td scope="col" class="table-text">
                        @{
                            var check = false;
                            if (item.Isactive != null)
                            {
                                check = item.Isactive[0];
                            }
                            <input class="form-check-input form-check-inputs" readonly type="checkbox" onclick="return false;" value="" @(check ? "checked" : "")>
                        }
                    </td>
                    <td scope="col" class="table-text">
                        <a class="btn btn-sm btn-outline-info" asp-action="UnBlock" asp-controller="Reports" asp-route-RequestId="@item.Requestid">
                            Unblock
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div class="d-md-none" style="max-width: 100%;">
        @{
            var Count = 0;
        }
        @foreach (var item in Model.BlockRequestList)
        {
            <div class="bg-info-subtle border-4 border-top data-mobile-row" data-bs-toggle="collapse" data-bs-target="#collapseExample-@Count" aria-expanded="false"
                 aria-controls="collapseExample">
                <div class="d-flex flex-column gap-3">
                    <div class="ms-3 py-1 mt-2">
                        <span>@item.PatientName</span>
                    </div>
                    <div class="mb-2 py-1 ms-3">
                        <span class="">@item.Email</span>
                    </div>
                </div>
            </div>
            <div class="collapse border-2 border-top rounded-3 bg-info-subtle " id="collapseExample-@Count">
                <div class="d-flex flex-column">
                    <div class="ms-3 mt-2">
                        <span class=""><i class="fas text-info fa-phone fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Phone: @item.Phonenumber</span>
                    </div>
                    <div class="ms-3 mt-2">
                        <span class=""><i class="fas text-info fa-calendar-days fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Created Date: @item.Createddate.ToString("MMM dd, yyyy", CultureInfo.InvariantCulture)</span>
                    </div>
                    <div class="ms-3 mt-2">
                        <span class=""><i class="fas text-info fa-note-sticky fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Notes: @item.Reason</span>
                    </div>
                    <div class="ms-3 mt-2">
                        <span class=""><i class="fas text-info fa-check fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Is Active: @item.Isactive[0]</span>
                    </div>

                    <div class="d-flex justify-content-end mb-2 gap-2 mx-2">
                        <a class="btn btn-sm btn-outline-info" asp-action="UnBlock" asp-controller="Reports" asp-route-RequestId="@item.Requestid">
                            Unblock
                        </a>
                    </div>
                </div>
            </div>
            Count++;
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-container d-flex justify-content-end mx-4">

            <form id="filterFormlist" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                  asp-action="_SearchResultBlockHistory" asp-controller="Reports" novalidate="novalidate">

                <input type="hidden" asp-for="CurrentPage" value="@(Model.CurrentPage-1)" />
            <li class="page-item mx-1 rounded"><button type="submit" class="@(Model.CurrentPage > 1 ? "" : "disabled") dt-paging-button previous page-link" @(Model.CurrentPage > 1 ? "" : "disabled")>‹</button></li>
                @foreach (var prop in Model.GetType().GetProperties())
                {
                    @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
                }
            </form>

            @{
                int start;
                //<li class="page-item"><a class="page-link">&lt;</a></li>
                @for (start = 1; start <= @Model.TotalPages; start++)
                {
                    <form id="filterFormlist" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          asp-action="_SearchResultBlockHistory" asp-controller="Reports" novalidate="novalidate">

                        <input type="hidden" asp-for="CurrentPage" value="@start" />
                    <li class="page-item mx-1 rounded"><button type="submit" class="rounded @(start == @Model.CurrentPage ? "active" : "") page-link">@start</button></li>
                        @foreach (var prop in Model.GetType().GetProperties())
                        {
                            @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
                        }
                    </form>

                }
                //<li class="page-item"><a class="page-link">&gt;</a></li>
            }

            <form id="filterFormlist" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                  asp-action="_SearchResultBlockHistory" asp-controller="Reports" novalidate="novalidate">

                <input type="hidden" asp-for="CurrentPage" value="@(Model.CurrentPage+1)" />
            <li class="page-item mx-1 rounded"><button type="submit" class="@(Model.CurrentPage < Model.TotalPages ? "" : "disabled") dt-paging-button previous page-link" @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")>›</button></li>
                @foreach (var prop in Model.GetType().GetProperties())
                {
                    @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
                }
            </form>
        </ul>
    </nav>
    <form class="sortingform" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
          asp-action="_SearchResultBlockHistory" asp-controller="Reports" novalidate="novalidate">
        <input type="hidden" asp-for="SortedColumn" id="sortedcol" />
        <input type="hidden" asp-for="IsAscending" id="isAsc" />
        <input asp-for="PageSize" type="hidden" >
        <input  asp-for="AccountType" type="hidden" >
        <input  asp-for="ReciverName" type="hidden">
        <input  asp-for="Email" type="hidden" >
        <input  asp-for="Startdate" type="hidden" >
        <input  asp-for="Enddate" type="hidden" >
        <input type="submit" class="d-none" id="foormsubmit" />
    </form>
</div>
<script>
    function SetColumValue(e) {
        var modeldata = @Html.Raw(Json.Serialize(Model));
        console.log(modeldata)
        if (modeldata.sortedColumn === e) {
            if (modeldata.isAscending == true) {
                document.getElementById('isAsc').value = false;
            }
            else {
                document.getElementById('isAsc').value = true;
            }
            console.log(document.getElementById('isAsc').value);
        }
        else {
            document.getElementById('sortedcol').value = e;
            document.getElementById('isAsc').value = true;
        }

        $("#foormsubmit").click();
    }
    var deleteButtons = document.querySelectorAll('.delete');

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            var form = button.closest('.deleteform');
            var vendorIdInput = form.querySelector('input[name="venderId"]');
            var vendorId = vendorIdInput.value;

            Swal.fire({
                title: "Do you want to delete this partner?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: "No"
            }).then(function (result) {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>