@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.RecordsModel
@using static AdminHalloDoc.Entities.ViewModel.Constant;
@{
    var enumData = from RequestType e in Enum.GetValues(typeof(RequestType))
                   select new
                   {
                       ID = (int)e,
                       Name = e.ToString()
                   };
    var i1 = Model.SortedColumn;
    var J1 = Model.IsAscending;
}

<div class="table-responsive">
    <table class="table table-responsive mt-3 p-3 dataTable">

        <thead class=" text-start tablehead">
            <tr>
                <th scope="col">First Nmae</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>

                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider mx-5">
            @foreach (var item in Model.PatientHistorybList)
            {
                <tr>
                    <td scope="col" class="table-text">@item.Firstname</td>
                    <td scope="col" class="table-text">@item.Lastname</td>


                    <td scope="col" class="table-text">@item.Email</td>
                    <td scope="col" class="table-text">@item.Mobile</td>
                    <td scope="col" class="table-text"><b>@item.Street</b>,@item.City,@item.State</td>

                    <td scope="col" class="table-text">
                        <a asp-action="PatientRecords" asp-controller="Reports" asp-route-UserId="@item.Userid" class="btn btn-sm btn-outline-info  mx-2 ">
                            Action
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div aria-label="Page my-2 navigation example">
        <ul class="pagination pagination-container d-flex justify-content-end mx-4">

            <form id="filterFormlist" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                  asp-action="_SearchResultPatientRecords" asp-controller="Reports" novalidate="novalidate">

                <input type="hidden" asp-for="CurrentPage" value="@(Model.CurrentPage-1)" />
            <li class="page-item mx-1 rounded"><button type="submit" class="@(Model.CurrentPage > 1 ? "" : "disabled") dt-paging-button previous page-link" @(Model.CurrentPage > 1 ? "" : "disabled")>‹</button></li>
                @foreach (var prop in Model.GetType().GetProperties())
                {
                    @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
                }
            </form>

            @{
                int start;
                //<li class="page-item"><a class="page-link">&lt;</a></li>
                @for (start = 1; start <= @Model.TotalPages; start++)
                {
                    <form id="filterFormlist" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          asp-action="_SearchResultPatientRecords" asp-controller="Reports" novalidate="novalidate">

                        <input type="hidden" asp-for="CurrentPage" value="@start" />
                    <li class="page-item mx-1 rounded"><button type="submit" class="rounded @(start == @Model.CurrentPage ? "active" : "") page-link">@start</button></li>
                        @foreach (var prop in Model.GetType().GetProperties())
                        {
                            @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
                        }
                    </form>

                }
                //<li class="page-item"><a class="page-link">&gt;</a></li>
            }

            <form id="filterFormlist" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                  asp-action="_SearchResultPatientRecords" asp-controller="Reports" novalidate="novalidate">

                <input type="hidden" asp-for="CurrentPage" value="@(Model.CurrentPage+1)" />
            <li class="page-item mx-1 rounded"><button type="submit" class="@(Model.CurrentPage < Model.TotalPages ? "" : "disabled") dt-paging-button previous page-link" @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")>›</button></li>
                @foreach (var prop in Model.GetType().GetProperties())
                {
                    @(Html.Hidden(prop.Name, prop.GetValue(Model, null)))
                }
            </form>
        </ul>
    </div>
  
</div>
<script>
  
    var deleteButtons = document.querySelectorAll('.delete');

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            var form = button.closest('.deleteform');
            var vendorIdInput = form.querySelector('input[name="venderId"]');
            var vendorId = vendorIdInput.value;

            Swal.fire({
                title: "Do you want to delete this partner?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: "No"
            }).then(function (result) {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>