@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using static AdminHalloDoc.Entities.ViewModel.Constant;
@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.PaginatedViewModel;
@using static AdminHalloDoc.Entities.ViewModel.CM
@{

    var status = "null";
    if (TempData["Status"] == null)
    {
        status = "null";
    }
    else
    {
        status = TempData["Status"].ToString();

    }
}
<div class="container-fluid">
        <div class="justify-content-between d-flex container-fluid mt-5 position-relative ">
            <div class="">
                <h3 class="fw-bolder">
                    Patient Record
                </h3>
            </div>
            <div>
                <a asp-action="PatientHistory" asp-controller="Reports" class="btn btn-outline-info"> ❮  Back </a>
            </div>
        </div>
        <div class="card border-0 shadow py-4 mb-5 mx-3 mt-3 rounded">
            <div class="text-end mx-2 px-3">
                <!-- Button trigger modal -->
                <a asp-action="CreateRoleAccess" asp-controller="RoleAccess" type="button" class="btn btn-outline-info">
                    Create Access
                </a>
            </div>

        <div class="table-responsive" style="overflow-x: visible !important;">
            <table id="PatientHistory" class="table table-responsive mt-3 p-3">
                    <thead>
                        <tr>
                            <th scope="col">Client/Member</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Confirmation</th>
                            <th scope="col">Provider Name</th>
                            <th scope="col">Concluded</th>
                            <th scope="col">Status</th>
                            <th scope="col">Final Report</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider mx-5">
                        @foreach (var item in Model.DashboardList)
                        {
                            <tr>
                                <td scope="row"> @item.PatientName</td>
                                <td scope="row"> @item.RequestedDate</td>
                                <td scope="row"> @item.Confirmation</td>
                                <td scope="row"> @item.Physician</td>
                                <td scope="row"> @item.ConcludedDate</td>
                                <td scope="row"> @item.Status</td>
                                <td class="mobile-hide" data-label="Document">
                                @if (FindStatus(item.Status) > 3 ){
                                    <a asp-action="generatePDF" asp-route-id="@item.Requestid.Encode()" asp-controller="SubmitForm" class="btn btn-outline-info btn-sm document-button">
                                        View

                                    </a>
                                }
                                else
                                {
                                    <div>-</div>
                                }

                                </td>
                                <td class="mobile-hide" data-label="Document">
                                <div class="dropdown w-100">
                                    <button class="btn  border-1 p-2 rounded-2 text-center w-75 py-1 btn-outline-info dropdown-" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        Actions
                                    </button>

                                    <ul class="dropdown-menu ">
                                        <li><a class="dropdown-item text-dark-emphasis" asp-action="Viewcase" asp-route-id="@item.RequestClientid.Encode()" asp-controller="AdminDashboard"><i class="bi bi-journal-minus px-2"></i> View Case</a></li>
                                        <li><a class="dropdown-item text-dark-emphasis" asp-route-id="@item.Requestid.Encode()" asp-action="ViewUpload" asp-controller="AdminDashboard"><i class="px-2 bi bi-journal-plus"></i>View Upload </a></li>
                                    </ul>
                                </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
          
        </div>
    </div>



@section Scripts
    {

    <script type="text/javascript">

        $(function () {
            $('.dropdown').hover(function () {
                var $dropdownMenu = $(this).find('.dropdown-menu');
                $dropdownMenu.addClass('show');
                var dropdownMenuRect = $dropdownMenu[0].getBoundingClientRect();
                var windowWidth = window.innerWidth;
                var windowHeight = window.innerHeight;

                if (dropdownMenuRect.right > windowWidth) {
                    $dropdownMenu.css('right', 0);
                    $dropdownMenu.css('left', 'auto');
                }
                if (dropdownMenuRect.bottom > windowHeight) {
                    $dropdownMenu.css('top', 'auto');
                    $dropdownMenu.css('bottom', '100%');
                }
                if (dropdownMenuRect.top < 0) {
                    $dropdownMenu.css('top', '100%');
                    $dropdownMenu.css('bottom', 'auto');
                }
            }, function () {
                $(this).find('.dropdown-menu').removeClass('show');
            });

            // Close dropdown when clicked outside
            $(document).on('click', function (e) {
                if (!$(e.target).closest('.dropdown').length) {
                    $('.dropdown-menu').removeClass('show');
                }
            });
        });
        new DataTable('#PatientHistory', {
            pagingType: 'simple_numbers',
            lengthChange: false, // Disable table length dropdown
            searching: false // Disable search feature
        });

        window.onload = function () {

            console.log("@status  d");
            if ("@status" != "null") {
                savealt("@status")
            }

        };
    </script>
}
