<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminHalloDoc</title>
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
    <link href="@Url.Content("~/plugins/global/plugins.bundle.css")" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>
<body data-bs-theme="light">
    <partial name="_Partial/_header.cshtml" />

    <partial name="_Partial/_subheader.cshtml" />

    <main role="main" class="container-fluid py-1 g-3">
        @RenderBody()
    </main>

    <partial name="_Partial/_footer.cshtml" />

    <script src="@Url.Content("~/plugins/global/plugins.bundle.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
