
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminHalloDoc</title>
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">*@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <link href="https://kendo.cdn.telerik.com/themes/7.2.1/default/default-main.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <style>
        #loader {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(51, 51, 51, 0.7);
            z-index: 9999;
            text-align: center;
            padding-top: 20%;
        }
        /* HTML: */

    </style>
</head>
<body data-bs-theme="light" class="page-wrap">
    
    <div class="loader loder-upper" style="
        background:rgb(255 255 255 / 31%);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
        top: 0%;
        left: 0%;
    ">
        <div b-mq15mhywhm="" class="loader" style="/* display: none; */"></div>
    </div>

    <partial name="_Partial/_header.cshtml" />

    <partial name="_Partial/_subheader.cshtml" />

    <main role="main" class="container-fluid py-1 g-3 min-vh-100 ">
        @RenderBody()
    </main>
    <div id="modal-placeholder"></div>
    <partial name="_Partial/_footer.cshtml" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://kit.fontawesome.com/1d989daaf7.js" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/plugins/global/plugins.bundle.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="@Url.Content("~/js/custom2/UI_Bootbox.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_ModalEvents.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_BlockUI.js")"></script>
    <script src="@Url.Content("~/js/custom2/InitMain.js")"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/chatsettings.js"></script>
    <script>

        $(document).ready(function () {

            //Push notification - check if user has already allow for notification or not
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("/js/PushNotificationHandler.js")
                    .then((reg) => {
                        if (Notification.permission === "granted") {
                            getSubscription(reg);
                        } else if (Notification.permission === "blocked") {
                           
                            requestNotificationAccess(reg);
                        } else {
                            requestNotificationAccess(reg);
                        }
                    });
            } else {

            }
        });

        //This function will open a modal to ask for allow notification
        function requestNotificationAccess(reg) {
            console.log(reg);
            Notification.requestPermission(function (status) {
                if (status == "granted") {
                    getSubscription(reg);

                } else {

                    alert("Not allowed");
                }
            });
        }

        //This function will suscribe the user and provide the identifiers - endpoint, p256dh, auth
        function getSubscription(reg) {
            reg.pushManager.getSubscription().then(function (sub) {
                console.log(sub);
                if (sub === null) {
                    reg.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: $('#publicKey').val()

                    }).then(function (sub) {
                        console.log("2 "+sub);
                        var auth = arrayBufferToBase64(sub.getKey("auth"));
                        var endpoint = sub.endpoint;
                        var p256dh = arrayBufferToBase64(sub.getKey("p256dh"));
                        $.ajax({
                            method: "POST",
                            url: "/pushnotification/index",
                            data: { endpoint: endpoint, p256dh: p256dh, auth: auth },
                            success: function (html) {

                            }
                        });
                    }).catch(function (e) {
                        console.error("Unable to subscribe to push", e);
                    });
                } else {
                    var auth = arrayBufferToBase64(sub.getKey("auth"));
                    var endpoint = sub.endpoint;
                    var p256dh = arrayBufferToBase64(sub.getKey("p256dh"));
                    $.ajax({
                        method: "POST",
                        url: "/pushnotification/index",
                        data: { endpoint: endpoint, p256dh: p256dh, auth: auth },
                        success: function (html) {

                        }
                    });
                }

            });
        }

        function arrayBufferToBase64(buffer) {
            var binary = '';
            var bytes = new Uint8Array(buffer);
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
        }

    </script>


    
</body>
</html>
