@model List<AdminHalloDoc.Entities.Models.Healthprofessional>;
<div class="table-responsive">
    <table class="table table-responsive mt-3 p-3">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Stoop Notification </th>
                <th scope="col">Provider Name</th>
                <th scope="col">Role</th>
                <th scope="col">On Call Status </th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider mx-5">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="table-text px-3 text-center justify-content-center" align="center" scope="row" data-label="Created Date">
                    </td>
                    <td scope="row" data-label="Created Date">@item.Vendorname  </td>
                    <td scope="row" data-label="Created Date">@item.Email</td>
                    <td scope="row" data-label="Created Date">@item.Faxnumber</td>
                    <td scope="row" data-label="Created Date">@item.Phonenumber</td>
                    <td scope="row" data-label="Created Date">@item.Businesscontact</td>
                    <td class=" d-flex" data-label="Document">

                        
                        
                        <a asp-action="PartnerAddEdit" asp-controller="Partner" asp-route-id="@item.Vendorid" class="btn btn-outline-info btn-sm document-button mx-1">
                            Edit

                        </a>
                        <form class="deleteform" asp-action="DeletePartner" asp-controller="Partner">
                            <input type="hidden" name="venderId" value="@item.Vendorid" />
                            <div  class="btn btn-outline-info btn-sm document-button mx-1 delete">
                                Delete

                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var deleteButtons = document.querySelectorAll('.delete');

    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            var form = button.closest('.deleteform');
            var vendorIdInput = form.querySelector('input[name="venderId"]');
            var vendorId = vendorIdInput.value;

            Swal.fire({
                title: "Do you want to delete this partner?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: "No"
            }).then(function (result) {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>