@{
    string path = Context.Request.Path;
}
<nav class="navbar p-0 pt-2 px-5 navbar-expand-lg bg-body shadow mb-5  rounded">
    <div class="container-fluid justify-content-">
        <!-- <a class="navbar-brand" href="#">Patient_</a> -->
        
        <div class="" id="navbarSupportedContent">
            <ul id="navlist" data-hidden="true" class="navlist navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
                <button class="nav-toggle toggle--close" aria-label="close menu">
                    &#x2573;
                </button>
                <li class="nav-item">
                    <a class="nav-link @(path.StartsWith("/AdminDashboard") || path.StartsWith("/ViewAction") || path.StartsWith("/SubmitForm")  ? "active" : "") px-3" aria-current="page" asp-controller="AdminDashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 @(path.StartsWith("/Physician/PhysicianLocation") ? "active" : "")" asp-action="PhysicianLocation" asp-controller="Physician">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 @(path.StartsWith("/AdminProfile") ? "active" : "")" asp-action="Index" asp-controller="AdminProfile">My Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-4 dropdown-toggle @(path.StartsWith("/Physician") ? "active" : "")" data-bs-toggle="dropdown" aria-expanded="false">Provider</a>
                    <ul class="dropdown-menu border-0 nn">
                        <li><a class="dropdown-item n"  asp-action="PhysicianAll" asp-controller="Physician"> Provider </a></li>
                        <li><a class="dropdown-item n" asp-action="MySchedule" asp-controller="Physician">Scheduling</a></li>
                        <li><a class="dropdown-item n" href="#">Invoicing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" asp-action="PhysicianAll" asp-controller="Physician">Partner</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-4 dropdown-toggle  @(path.StartsWith("/RoleAccess") ? "active" : "")" data-bs-toggle="dropdown" aria-expanded="false">Access</a>
                    <ul class="dropdown-menu border-0 nn">
                        <li><a class="dropdown-item n" asp-action="Index" asp-controller="RoleAccess">Account Access</a></li>
                        <li><a class="dropdown-item n" asp-action="UserAccess" asp-controller="RoleAccess">User Access</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="Patient_Profile.html">Records</a>
                </li>
            </ul>
        </div>
    </div>
</nav>